:root{
    /*colores usados*/
    --color-green: #216034;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-yellow: #FFDD47;
    --color-blue: #156FA2;
}



.container {
    display: inline;
}
.sortBy {
    font-weight: 500;
    font-size: larger;
    align-items: center;
}
    .sortBy select {
        font-size: 1.3rem;
        border-radius: 5%;
    }

.filters {
    background-color: hsl(0, 0%, 100%);
    padding: 2%;
    width: 13%;
    
}
    .filters h2, .filters i {
        display:inline;
        align-items: center;
        padding-left: 2%;
        margin-bottom: 10%;
    }
    .filters ul {
        display: flex;
  
    }
    .filters ul li {
        list-style: none;
        flex-direction: row;
        margin-top: 10%;
        align-items: stretch;
    }
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products img{
    inline-size: 30%;
    display: table-cell;

}














@media (min-width: 361px){


}

@media (min-width: 769px){

}

