:root{
    /*colores usados*/
    --color-green: #216034;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-yellow: #FFDD47;
    --color-blue: #156FA2;
}



.container {
    display: inline;
}
.sortBy {
    font-weight: 500;
    font-size: larger;
    padding-left: 80%;

}
    .sortBy select {
        font-size: 1.3rem;
        border-radius: 5%;
    }

.filter-title{
    padding-left: 2%;
}
.filters {
    background-color: hsl(0, 0%, 100%);  
    /*padding: 2%;
    width: 13%;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2%;
}

.filters div {
    padding-left: 2%;
}


    .filters h2, .filters i {
        align-items: center;
        padding-left: 2%;
        margin-bottom: 10%;
    }

    .filters li {
        list-style: none;
        flex-direction: row;
        margin-top: 10%;
        align-items: stretch;
    }
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.showcase-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4%;
    padding-top: 3%;
}
.showcase-product:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}
.main-article-description{
    max-width: 60%;
}

/*.products img{



}*/














@media (min-width: 361px){


}

@media (min-width: 769px){

}

