:root{
    /*colores usados*/
    --color-green: #216034;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-yellow: #FFDD47;
    --color-blue: #156FA2;
    

    --white: white;
    --light: #ccc;
    --dark: #333;

    --yellow: #f4c73f;
    --green: #a2b55a;
    --blue: #4596d3;
    --purple: #aa6f6f;
    --orange: #f4753f;

    --primary: var(--orange);

    --soft-yellow: #f4cd58;
    --soft-green: #a5b56c;
    --soft-blue: #5b9fd3;
    --soft-purple: #aa8080;
    --soft-orange: #f48758;


    --success-color: var(--green);
    --warning-color: var(--yellow);
    --danger-color: var(--orange);

    --default-margin: .5rem;
    --default-padding: .5rem;

    --default-radius: .5rem;
}

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.contenedor {
    padding: 0 10rem;
    align-items: center;
    align-content: center;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a.button { color: #333; }

/* Helpers */

.is-rounded { border-radius: 50%; }

/* Contenedores */

/* Sistema de grillas */

.columns {
    margin-left: calc(-1 * var(--default-margin));
    margin-right: calc(-1 * var(--default-margin));
    margin-top: calc(-1 * var(--default-margin));
}

.columns.is-multiline { flex-wrap: wrap; }
.columns.is-centered { justify-content: center; }
.columns.is-vcentered { align-items: center; }

.column {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--default-padding);
}

p {
    font-weight: 600;
}

h1{
    font-weight: 800;
}

h4{
    font-weight: 700;
    font-size: 20px;
}
header ul li{
    list-style-type: none;
}

.header-mobile-fixed-nav{
    background-color: var(--color-green);
    z-index: 10;
    width: 100%;
    height: 40px;
}
    .header-mobile-fixed-nav-bar ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        
    }
        .header-mobile-fixed-nav-bar a{
            color: var(--color-white);
            text-decoration: none;
        }


        .header-mobile-fixed-nav-bar i{
            width: 40px;
            position: relative;
            top: 10px;
         }
         .burger-menu-item{
             justify-self: flex-start;
        }
           .header-mobile-burger-menu i{
                background-color: var(--color-green);
                border-radius: 3px;
                color: #FFF;
                font-size: 10px;
                height: 20px;
                margin: 5px 0px 10px 0px;
                padding: 5px;
                width: 20px;
            }

    .header-mobile-logo{
       display: flex;
       justify-content: center;
    }

    .header-mobile-logo-img{
        width: 200px;
    }
    
.header-desktop {
    display: none;
}
    .header-desktop-top{
        display: flex;
        flex-direction: row;
    }
        .header-desktop-logo img{
            width: 250px;
        }

.header-desktop-fixed-nav{
display: none;
}

.header-fixed-nav{
    background-color: var(--color-green);
    z-index: 10;
    width: 100%;
    height: 40px;
}
.main-product{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.main-product-pic{
    width: 50%;
    padding-top: 25px;
}
        .main-carousel-banner{
            padding-left: 150px;
            padding-right: 150px;
        }

        .main-carousel-nav{
            padding: 20px;
        }
.main-product-info{
    width: 25%;
}
    .main-product-info h1{
        padding: 20px;
        padding-left: 0px;
    }
    .main-product-info h3{
        padding: 15px;
        padding-left: 0px;
    }
    .main-product-info p{
        padding: 15px;
        padding-left: 0px;
    }

    .main-product-info select{
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 5px;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        color:black;
        text-align: center;
    }

    .main-product-info button, .review-button{
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 5px;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        color:white;
        text-align: center;
    }
    .carrito-button-holder, .review-button-holder{
        border-radius:45px;
        display:inline-block;
        overflow:hidden;
        background: var(--color-blue);
        border:1px solid #cccccc;
        margin-top: 20px;

    }

    .main-product-info-select-size, .main-product-info-select-color{
        border-radius:36px;
        display:inline-block;
        overflow:hidden;
        background:grey;
        border:1px solid #cccccc;
      }
      .main-product-info-select-size, .main-product-info-select-color{
        width:140px;
        height:40px;
        border:0px;
        outline:none;
      }

        .label-and-select{
            display: flex;
            flex-direction: row;
            padding-top: 15px;
        }

        .label-and-select label{
            padding-right: 15px;
        }
.main-product-rec{
    padding: 15px;
    width: 20%;
}
    .main-product-rec ul li{
        list-style-type: none;
    }

    .productos-recomendados-item{
        padding: 15px;
    }
        .productos-recomendados-item img{
            width: 100px;
        }

.main-reviews{
    display: flex;
    flex-direction: column;
    padding-top:35px;
}
    .main-reviews-left{
        display: flex;
        flex-direction: row;

    }

    .main-reviews-left-item{
        padding-left: 50px;
        width: 30%;
    }

    .main-leave-review{
        padding-left: 30px;
        padding-top: 30px;
    }

.main-leave-review input[type=text] {
        width: 500px;
        height: 300px;
     }

    .review-stars{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 10px;
        padding-bottom: 10px;
    }
.review-stars i{
    color: #666;
    opacity: 25%;
}

.review-stars i:hover{
    color: var(--color-yellow);
    opacity: 100%;
}



@media (min-width: 361px){


}


@media (min-width: 769px) {
    .columns { display: flex; }

    .column.is-1 { flex: none; width: 8.33333% }
    .column.is-2 { flex: none; width: 16.66667% }
    .column.is-3 { flex: none; width: 25% }
    .column.is-4 { flex: none; width: 33.33333% }
    .column.is-5 { flex: none; width: 41.66667% }
    .column.is-6 { flex: none; width: 50% }
    .column.is-7 { flex: none; width: 58.33333% }
    .column.is-8 { flex: none; width: 66.66667% }
    .column.is-9 { flex: none; width: 75% }
    .column.is-10 { flex: none; width: 83.33333% }
    .column.is-11 { flex: none; width: 91.66667% }
    .column.is-12 { flex: none; width: 100% }
}

/* Tamaños para desktop */

@media (min-width: 1024px) {
    .columns { display: flex; }

    .column.is-1-desktop { flex: none; width: 8.33333% }
    .column.is-2-desktop { flex: none; width: 16.66667% }
    .column.is-3-desktop { flex: none; width: 25% }
    .column.is-4-desktop { flex: none; width: 33.33333% }
    .column.is-5-desktop { flex: none; width: 41.66667% }
    .column.is-6-desktop { flex: none; width: 50% }
    .column.is-7-desktop { flex: none; width: 58.33333% }
    .column.is-8-desktop { flex: none; width: 66.66667% }
    .column.is-9-desktop { flex: none; width: 75% }
    .column.is-10-desktop { flex: none; width: 83.33333% }
    .column.is-11-desktop { flex: none; width: 91.66667% }
    .column.is-12-desktop { flex: none; width: 100% }
}

.column.is-narrow { flex: none; }

/* Formularios */

.form.is-inline { display: inline-block; }

input,
textarea,
select,
button,
.button {
    padding: var(--default-padding);
    border: 1px solid var(--light);
    background-color: var(--white);
    border-radius: var(--default-radius);
    font-size: 1rem;
}

input.is-success,
textarea.is-success,
select.is-success,
button.is-success,
.button.is-success { border-color: var(--success-color);}

input.is-warning,
textarea.is-warning,
select.is-warning,
button.is-warning,
.button.is-warning { border-color: var(--warning-color);}

input.is-danger,
textarea.is-danger,
select.is-danger,
button.is-danger,
.button.is-danger { border-color: var(--danger-color);}

.button { 
    display: inline-block; 
    cursor: pointer;
}

.buttons { 
   display: flex;
   flex-wrap: wrap;
}

.buttons .button { margin-right: var(--default-margin);}

input,
textarea,
select { width: 100%; }

.feedback {
    margin-top: .25rem;
    font-size: .9rem;
}

.field:not(:last-child) { margin-bottom: 1rem;}

.field label {
    display: block;
    margin-bottom: .25rem;
}

.feedback.is-success { color: var(--success-color); }
.feedback.is-warning { color: var(--warning-color); }
.feedback.is-danger { color: var(--danger-color); }