:root{
    /*colores usados*/
    --color-green: #216034;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-yellow: #FFDD47;
    --color-blue: #156FA2;
}

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}
header ul li{
    list-style-type: none;
}

.header-mobile-fixed-nav{
    background-color: var(--color-green);
    z-index: 10;
    width: 100%;
    height: 40px;
}
    .header-mobile-fixed-nav-bar ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        
    }
        .header-mobile-fixed-nav-bar a{
            color: var(--color-white);
            text-decoration: none;
        }


        .header-mobile-fixed-nav-bar i{
            width: 40px;
            position: relative;
            top: 10px;
         }
         .burger-menu-item{
             justify-self: flex-start;
        }
           .header-mobile-burger-menu i{
                background-color: var(--color-green);
                border-radius: 3px;
                color: #FFF;
                font-size: 10px;
                height: 20px;
                margin: 5px 0px 10px 0px;
                padding: 5px;
                width: 20px;
            }

    .header-mobile-logo{
       display: flex;
       justify-content: center;
    }

    .header-mobile-logo-img{
        width: 200px;
    }
    
.header-desktop {
    display: none;
}
    .header-desktop-top{
        display: flex;
        flex-direction: row;
    }
        .header-desktop-logo img{
            width: 250px;
        }

.header-desktop-fixed-nav{
display: none;
}

.header-fixed-nav{
    background-color: var(--color-green);
    z-index: 10;
    width: 100%;
    height: 40px;
}














.footer{
    background-color: var(--color-green);
    color: white;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer ul li{
    list-style-type: none;
}

footer p{
    font-size: 12px;
}

footer h5{
    font-size: 15px;
}

    .footer-info{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-content: center;
        width: 15%;
    }

    .footer-info a{
        color: var(--color-white);
        text-decoration: none;
    }


        .footer-consult-item{
            display: flex;
            flex-direction: column;
        }
        .newsletter-send{
            display: flex;
            flex-direction: row;
        }
        .footer-icons{
            display: flex;
            flex-direction: row;
            width: 30%;
        }

            .footer-icons-item i{
                font-size: 30px;
                padding: 5px;
            }


@media (min-width: 361px){


}

@media (min-width: 769px){

}

