<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/flickity.css" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.0/flickity.pkgd.min.js"></script>
    <title>GreenThumb</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="main-carousel">
            <div class="main-gallery js-flickity"
            data-flickity-options='{ "cellAlign": "left", "contain": true, "freeScroll": true, "wrapAround": true}'>
                <div class="main-carousel-banner">
                            <img src="images/banner1.png" height="400" width="800" alt="Envíos nacionales">
                </div>
                <div class="main-carousel-banner">
                            <img src="images/banner2.png" height="400" width="800" alt="Plantas decorativas">
                    </div> 
                    <div class="main-carousel-banner">
                       <a href="/product-Showcase"> <img src="images/banner3.png" height="400" width="800" alt="Cactus"></a>
                </div>
            </div>
        </div>            
        <div class="main-showcase-copy">
                <h1>Lo más popular</h1>
            </div>
        <div class="main-showcase">

            <article class="main-showcase-producto">
                <a href="/product-Detail">
                <img src="images/main-productos-planta1.png" alt="planta 1" class="product-img">
                <div class="main-article">
                    <a href="/product-cart" class="main-showcase-carrito"><i class="fas fa-cart-plus"></i></a>
                    <h4 class="main-article-nombre">Planta</h4>
                    <p class="main-article-precio">$230.000</p>
                    <p class="main-article-descuento">20% off</p>
                    <p class="main-article-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </a> 
            </article>

            <article class="main-showcase-producto">
                <a href="/product-Detail">
                <img src="images/main-productos-planta2.png" alt="planta 2" class="product-img">
                <div class="main-article">
                    <a href="/product-cart"><i class="fas fa-cart-plus"></i></a>
                    <h4 class="main-article-nombre">Planta</h4>
                    <p class="main-article-precio">$230.000</p>
                    <p class="main-article-descuento">20% off</p>
                    <p class="main-article-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </a>
            </article>
            <article class="main-showcase-producto">
                <a href="/product-Detail">  
                <img src="images/main-productos-planta3.png" alt="planta 3" class="product-img">
                <div class="main-article">
                    <a href="/product-cart"><i class="fas fa-cart-plus"></i></a>
                    <h4 class="main-article-nombre">Planta</h4>
                    <p class="main-article-precio">$230.000</p>
                    <p class="main-article-descuento">20% off</p>
                    <p class="main-article-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                </a> 
            </article>
            <article class="main-showcase-producto">
                <a href="/product-Detail">    
                <img src="images/main-productos-planta4.png" alt="planta 4" class="product-img">
                <div class="main-article">
                    <a href="/product-cart"><i class="fas fa-cart-plus"></i></a>
                    <h4 class="main-article-nombre">Planta</h4>
                    <p class="main-article-precio">$230.000</p>
                    <p class="main-article-descuento">20% off</p>
                    <p class="main-article-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                </a>
            </article>
            <article class="main-showcase-producto">
                <a href="/product-Detail">    
                <img src="images/aloe5.png" alt="planta 4" class="product-img">
                <div class="main-article">
                    <a href="/product-cart"><i class="fas fa-cart-plus"></i></a>
                    <h4 class="main-article-nombre">Aloe Vera</h4>
                    <p class="main-article-precio">$230.000</p>
                    <p class="main-article-descuento">20% off</p>
                    <p class="main-article-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                </a>
            </article>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>