<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="http://localhost:3333/css/productCart.css">
    <title>Mi Carrito - GreenThumb</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
            <div class="main-title">
                <h1>Carrito de compras</h1>
            </div>
            <div class="main-categories">
                <h3></h3>
                <h3>Producto</h3>
                <h3>Precio</h3>
                <h3>Cantidad</h3>
                <h3>Subtotal</h3>
            </div>
            <div class="main-products">
                <div class="main-products-in-cart-item">
                    <div class="item-img">
                        <img src="http://localhost:3333/images/main-productos-planta1.png" alt="planta 1" class="product-img">
                        <a href="#" class="item-delete"><i class="fas fa-times"></i></a>
                    </div>
                    <h3 class="main-article-nombre">Planta</h3>
                    <p class="main-article-precio">$230.000</p>
                    <p class="main-article-cantidad">3</p>
                    <p class="main-article-subtotal">$690.00</p>
                </div>
                <div class="main-products-in-cart-item">
                    <div class="item-img">
                        <img src="http://localhost:3333/images/main-productos-planta2.png" alt="planta 1" class="product-img">
                        <a href="#" class="item-delete"><i class="fas fa-times"></i></a>
                    </div>
                    <h3 class="main-article-nombre">Planta</h3>
                    <p class="main-article-precio">$115.000</p>
                    <p class="main-article-cantidad">2</p>
                    <p class="main-article-subtotal">$230.00</p>
                </div>
                <div class="main-products-in-cart-item">
                    <div class="item-img">
                        <img src="http://localhost:3333/images/aloe4.png" alt="planta 1" class="product-img">
                        <a href="#" class="item-delete"><i class="fas fa-times"></i></a>
                    </div>
                    <h3 class="main-article-nombre">Aloe Vera</h3>
                    <p class="main-article-precio">$120.000</p>
                    <p class="main-article-cantidad">4</p>
                    <p class="main-article-subtotal">$480.00</p>
                </div>
            </div>
            <div class="main-actions">
                <div class="main-actions-coupon">
                    <div class="coupon-holder">
                        <form action="#" method="GET">
                            <input type="text" class="coupon-enter" placeholder="¿Cuentas con un cupón?">
                            <div class="holder-holder">
                            <button type="submit" class="coupon-send">ENVIAR</button></div>
                        </form>
                    </div>
                    </div>
                <div class="main-actions-buy">
                    <div class="main-actions-buy-total">
                        <h1>Total</h1>
                        <h1>$1,400.00</h1>
                    </div>
                    <div class="main-actions-buy-date">
                        <h3>Recíbelo el</h3>
                        <h3>25/06/2021</h3>
                    </div>
                    <div class="main-actions-buy-button">
                        <div class="carrito-button-holder">
                            <a href="/">
                                <button class="carrito-button">
                                    <h1>Finalizar compra <i class="fas fa-cart-plus"></i></h1>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>