<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="http://localhost:3333/css/productDetail.css">
    <title>Añadir producto</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="contenedor">
            <section>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1>Crea tu producto</h1>
                        <form action="/crear" method="POST" enctype="multipart/form-data">

                            <div class="field">
                                <label for = "name">Nombre</label>
                                <div class="control">
                                    <input type="text" name="name" id="name">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for = "name">Descripción</label>
                                <div class="control">
                                    <textarea name="descripción"></textarea>
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button type="submit">crear producto</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>