<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="http://localhost:3333/css/productDetail.css">
    <title>Agrega y edita productos</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        
    </main>
    <%- include('./partials/footer') %>
</body>
</html>