<style>
    .footer {
        background-color: var(--color-green);
        color: white;
        position: relative;
        top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    footer ul li {
        list-style-type: none;
    }

    footer p {
        font-size: 12px;
    }

    footer h5 {
        font-size: 15px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-content: center;
        width: 15%;
    }

    .footer-info a {
        color: var(--color-white);
        text-decoration: none;
    }


    .footer-consult-item {
        display: flex;
        flex-direction: column;
    }

    .newsletter-send {
        display: flex;
        flex-direction: row;
    }

    .footer-icons {
        display: flex;
        flex-direction: row;
        width: 30%;
    }

    .footer-icons-item i {
        font-size: 30px;
        padding: 5px;
    }
</style>
<footer class="footer">
    <ul class="footer-info">
        <li class="footer-info-item">
            <a href="#">
                <h5>Sobre Nosotros</h5>
            </a>
        </li>
        <li class="footer-info-item">
            <a href="#">
                <h5>Dirección</h5>
            </a>
        </li>
    </ul>
    <ul class="footer-consult">
        <li class="footer-consult-item">
            <h5>Información</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </li>
        <li class="footer-consult-item">
            <h5>Mi cuenta</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </li>
    </ul>
    <div class="footer-newsletter">
        <div class="form" action="#" method="GET">
            <label for="newsletter">¡Suscríbete a nuestro newsletter!</label>
            <div class="newsletter-send">
                <div class="input"> <input type="email" name="newsletter" placeholder="Email de contacto"></div>
                <div class="submit"><button><i class="fas fa-envelope-open-text"></i></button></div>
            </div>
        </div>
    </div>
    <ul class="footer-icons">
        <li class="footer-icons-item">
            <i class="fab fa-facebook"></i>
        </li>
        <li class="footer-icons-item">
            <i class="fas fa-address-book"></i>
        </li>
        <li class="footer-icons-item">
            <i class="fab fa-amazon"></i>
        </li>
        <li class="footer-icons-item">
            <i class="fab fa-apple-pay"></i>
        </li>
    </ul>

    <ul class="footer-icons">
        <li class="footer-icons-item">
            <i class="fas fa-credit-card"></i>
        </li>
        <li class="footer-icons-item">
            <i class="fas fa-dollar-sign"></i>
        </li>
        <li class="footer-icons-item">
            <i class="fas fa-briefcase"></i>
        </li>
    </ul>

    <div class="footer-copy">
        <label>¡Descarga nuestra app!</label>
        <i class="fab fa-app-store"></i>
    </div>
</footer>