<header class="header-gen">
    <div class="header-mobile">
        
        <div class="header-mobile-logo">
            <div class="header-mobile-logo">
                <a href="/"><img src="images/logo_completo_blanco.png" alt="Logo tienda de plantas Green Thumb" class="header-mobile-logo-img"></a>
            </div>
        </div>
        <div class="header-mobile-fixed-nav">
            <div class="header-mobile-fixed-nav-bar">
             <ul>
                 <li class="burger-menu-item">
                    <div class="header-mobile-burger-menu">
                    <i class="fa fa-bars burger"></i>
                    </div>
                </li>
                 <li><a href="/"><i class="fas fa-home"></i></a></li>
                 <li><a href="/user/register"><i class="fas fa-user"></i></a></li>
                 <li><a href="/product/cart"><i class="fas fa-shopping-cart"></i></a></li>
             </ul>

            </div> 
        </div>
    </div>   
    <div class="header-desktop">
        <div class="header-desktop-top">
            <div class="header-desktop-logo">
                <img src="images/logo_completo_blanco.png" alt="Logo tienda de plantas Green Thumb" class="header-desktop-logo-img">
            </div>
            <div class="header-desktop-top-search-bar">
                <div class="form" action="#" method="GET">
                    <div class="input"> <input type="text" name="search bar" placeholder="¿Qué estás buscando?"> </div>
                    <div class="submit"><button><i class="fas fa-search"></i></button></div>
                </div>
                <div class="header-desktop-top-language-select">
                    <select name="nav-lanaguage">
                        <option value="Spanish"> Español</option>
                        <option value="English"> Inglés </option>
                        <option value="Portuguese"> Portugués </option>
                </div>
                <div class="header-desktop-top-profile-links">
                    <li><a href="/register">Crear cuenta</a></li>
                    <li><a href="/register">Iniciar sesión</a></li>
                </div>
            </div>
        </div>
        <div class="header-desktop-fixed-nav">
            <div class="header-desktop-fixed-nav-bar">
             <ul>
                 <li> <select name="nav-categories">
                     <option value="Categorías"> Categorías</option>
                     <option value="Ofertas"> Ofertas </option>
                     <option value="Novedades"> Novedades </option>
                 </select></li>
                 <li><a href="/">Home</a></li>
                 <li><a href="/product-Showcase">Productos</a></li>
                 <li><a href="/product-Showcase">Best sellers</a></li>
                 <li><a href="#">Contacto</a></li>
                 <li><a href="/product-cart">Mi carrito <i class="fas fa-shopping-cart"></i></a></li>
             </ul>

            </div>

            <div class="header-fixed-nav">
                <div class="header-fixed-nav-bar">
                 <ul>
                     <li> <select name="nav-categories">
                         <option value="Categorías"> Categorías</option>
                         <option value="Ofertas"> Ofertas </option>
                         <option value="Novedades"> Novedades </option>
                     </select></li>
                     <li><a href="/">Home</a></li>
                     <li><a href="/product-Showcase">Productos</a></li>
                     <li><a href="/product-Showcase">Best sellers</a></li>
                     <li><a href="#">Contacto</a></li>
                     <li><a href="/product-cart">Mi carrito <i class="fas fa-shopping-cart"></i></a></li>
                 </ul>
    
                </div>
        </div>
    </div>
</header>