<style>
    :root {
        /*colores usados*/
        --color-green: #216034;
        --color-white: #FFFFFF;
        --color-black: #000000;
        --color-yellow: #FFDD47;
        --color-blue: #156FA2;
        --color-grey: #666;
    }

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        font-family: 'Raleway', sans-serif;
    }

    p {
        font-weight: 600;
    }

    h1 {
        font-weight: 800;
    }

    h4 {
        font-weight: 700;
        font-size: 20px;
    }

    header li {
        list-style-type: none;
    }

    header a {
        text-decoration: none;
    }

    header button {
        width: 50px;
        color: var(--color-green);
        background-color: var(--color-yellow);
        border-radius: 20px;
    }

    header input {
        width: 300px;
        height: 30px;
        outline: none;
        border-radius: 20px;
    }

    .header-mobile {
        display: block;
    }

    .header-mobile-fixed-nav {
        background-color: var(--color-green);
        z-index: 10;
        width: 100%;
        height: 40px;
    }

    .header-mobile-fixed-nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .header-mobile-fixed-nav-bar a {
        color: var(--color-white);
        text-decoration: none;
    }


    .header-mobile-fixed-nav-bar i {
        width: 40px;
        position: relative;
        top: 10px;

    }

    .burger-menu-item {
        justify-self: start;
    }

    .header-mobile-burger-menu i {
        background-color: var(--color-green);
        border-radius: 3px;
        color: #FFF;
        font-size: 10px;
        height: 20px;
        margin: 5px 0px 10px 0px;
        padding: 5px;
        width: 20px;
    }

    .header-mobile-logo {
        display: flex;
        justify-content: center;
    }


    .header-desktop {
        display: none;
    }

    .header-desktop-top {
        display: flex;
        flex-direction: row;

    }

    .header-desktop-logo {
        padding-left: 75px;

    }

    .header-desktop-fixed-nav {
        display: flex;
        background-color: var(--color-green);
        z-index: 10;
        width: 100%;
        height: 60px;
    }

    .header-desktop-fixed-nav li {
        color: var(--color-white);
        flex-grow: 1;
        padding-top: 20px;
        padding-left: 10px;

    }

    .header-desktop-fixed-nav a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;


    }

    .header-desktop-top-search-bar {
        flex-grow: 1;
        padding-left: 150px;
        padding-top: 40px;
    }



    .header-desktop-top-profile-links {
        padding-right: 75px;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
    }

    .header-desktop-top-profile-links li {
        flex-grow: 1;

    }

    .header-desktop-top-profile-links a {
        font-size: 20px;
        color: var(--color-black);
        font-weight: bolder;
        padding-right: 20px;
    }

    .invisible {
        display: none;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    @media (min-width: 361px) {}

    @media (min-width: 769px) {
        .header-desktop {
            display: block;
        }

        .header-mobile {
            display: none;
        }
    }
</style>
<header class="header-gen">

    <!--HEADER PARA DISPOSITIVOS MÓVILES-->
    <div class="header-mobile">

        <div class="header-mobile-logo">
            <a href="/"><img src="http://localhost:3333/images/mkt/logo_completo_blanco.png" width="200px"
                    alt="Logo tienda de plantas Green Thumb"></a>
        </div>
        <div class="header-mobile-fixed-nav" id="navbar">
            <div class="header-mobile-fixed-nav-bar">

                <li class="burger-menu-item">
                    <div class="header-mobile-burger-menu">
                        <i class="fa fa-bars burger"></i>
                    </div>
                </li>
                <li><a href="/"><i class="fas fa-home"></i></a></li>
                <li><a href="/user/register"><i class="fas fa-user"></i></a></li>
                <li><a href="/product/cart"><i class="fas fa-shopping-cart"></i></a></li>


            </div>
        </div>
    </div>
    <!--HEADER PARA COMPUTADORA-->
    <div class="header-desktop">
        <div class="header-desktop-top">
            <div class="header-desktop-logo-dv">
                <a href="/"><img src="http://localhost:3333/images/mkt/logo_completo_blanco.png" width="400px"
                        alt="Logo tienda de plantas Green Thumb" class="header-desktop-logo"></a>
            </div>
            <div class="header-desktop-top-search-bar">
                <div class="form" action="#" method="GET">
                    <input type="text" name="search bar" placeholder="   ¿Qué estás buscando?">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
            <% if (user) { %>
                <div class="header-desktop-top-profile-links">
                    <li><a href="/user/profile">Mi perfil</a></li>
                </div>
                <% } else {%>
                    <div class="header-desktop-top-profile-links">
                        <li><a href="/user/register#signUp">Crear cuenta</a></li>
                        <li><a href="/user/register#login">Iniciar sesión</a></li>

                    </div>
                    <%}%>
        </div>
        <div class="header-desktop-fixed-nav" id="navbar1">

            <li> <select name="nav-categories">
                    <option value="Categorías"> Categorías</option>
                    <option value="Ofertas"> Ofertas </option>
                    <option value="Novedades"> Novedades </option>
                </select></li>
            <li><a href="/">Home</a></li>
            <li><a href="/product/">Productos</a></li>
            <li><a href="/product/">Best sellers</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="/product/cart">Mi carrito <i class="fas fa-shopping-cart"></i></a></li>

        </div>
        <script src="/js/navbar.js"></script>
</header>