<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="http://localhost:3333/css/register.css">
        <title>Usuario - GreenThumb</title>
</head>

<body>
    <%- include('../partials/header') %>
        <%- include('../partials/footer') %>
</body>

</html>